/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: #fff;
}


nav{
    padding: 80px 100px;
    height: 15vh;
    display: flex;
    align-items: center;
}

.list{
    display: flex; 
}

.list-item{
    list-style: none;
    margin-right:15%; 
    color: rgb(184, 178, 178);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

section nav div img{
   height:40px;
   margin-right: 40px;
}

li:first-child{
    color: black;
    font-weight: bold;
}

.button-group{
    position:absolute;
    right: 100px;
}

.nav-button{
    background-color: rgb(60, 52, 177);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left:100px;
    justify-content: center;
    align-items: center;

}

.heading-text{
    font-size: 70px;
    color:rgb(24, 11, 71);
    height: 32vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 span{
    color:rgb(54, 25, 160);
}

.description{
   font-size: 20px;
   color: rgb(102, 95, 95);
   font-family: calibri;
   margin: 10px;
   width: 25vw;
}

.btn{
    margin-top: 20px;
    height: 60px;
    width:200px;
    font-size: 18px;
}


