/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    display:flex;
    background-color: black;
    color: white;
    padding: 10px 60px;
    height:10vh;

}

nav div img{
    height: 25px;
    margin-right: 60px;
    margin-top: 15px;

}

.line{

    border-left: 3px solid white; 
    margin-right: 40px;
}
ul{
    display: flex;

}

li{
    list-style:none;
    padding-top: 15px;
    align-items: center;
    margin-right: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.button-small{
    position:absolute;
    right: 80px;
    background-color: rgb(220, 72, 234);
    color: white;
    margin-top: 10px;
    padding:10px 30px;
    border-radius: 10px;
    border: none;
}

body{
    background-image: url(./assets/bg.png);
    background-size: 1550px 760px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height:60vh; */
    padding: 60px;
}

.hero-heading{

    text-align: center;
    font-size:110px;
    font-family: calibri;
    margin-left: 00px;
    width: 1000px;
    color: white;
    line-height: 100px;
}

.hero-description{
    font-size: 40px;
    margin-top: 10px;
    margin-left: 00px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-large{

    background-color: rgb(220, 72, 234);
    color: white;
    margin-top: 30px;
    padding:20px 30px;
    border-radius:10px;
    width:300px;
    font-size: 20px;
    border:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}